
@media only screen and (max-width: 480px) {
	#content {
		width: 100%;
		
	}
	#branding {
		opacity: 0.9;
		height: 120px!Important;
	}
	#branding h1 a {
		width: 113px!Important;
	}
	#branding h1 a {
		margin-top: 0;
	}
	#access {
		position: absolute;
		top:400px;
		right: 190%;
		width: 100%;
	}
	#access .menu-item a {
	color: white!Important;
	
	}
	#banner .text {
		width:150px;
		height: 108px;
		display: none;
		
	}
	#banner .text .title  {
		font-size: 18px;
		line-height: 19px;
		padding: 10px 15px 5px 15px;

	}
	#banner .text .description {
		font-size: 70%;
		padding: 0 20px 0 15px;
	}
	#banner .navslide {
		top:290px!Important;
	}
	#tagline {
		
	}
	.menu-item a {
		margin-bottom: 15px;
		font-size: 17px!Important;
	}
	.menu-item a {
		font-family: Arial;
		line-height: 1!Important;
	}
	#head-foot {
		border-top:1px solid #aaa;
		top:635px!Important;
		right: 200%!Important;
		width: 100%!Important;
		color: #ccc!Important;
		padding-top: 10px;
	}
	#lan a {color: #aaa!Important;font-size: 20px;}
	#lan a.current {color: #dc1c1c!Important;}

}

@media only screen and (max-width: 320px) { 
	
	#access {
		position: absolute;
	top: 320px!Important;
	right: 100%!Important;
	width: 200%!Important;
}
	
	#head-foot {
		border-top:1px solid #aaa;
		top:550px!Important;
		right: 200%!Important;
		width: 100%!Important;
		color: #ccc!Important;
		padding-top: 10px;
	}
	#branding {
		width: 65px!important;
		height: 60px!important;
		
		padding: 30px 10px 10px!important;

		}
	#branding h1 a {width: 70px!Important;padding-top: 31px!important;margin:0!important;}
	#branding #tagline {
		font-size: 12px!important;
		line-height: 14px!important;
		background: none!important;
	}
}



/*  #Mobile (Portrait) small tablet
================================================== */

@media only screen and (max-width: 767px) {
	#banner .text {
	top:270px;	 
	background-size: 100%;
	}
	#banner .navslide {
		top:430px;
	}
	#branding {
	width: 130px;
	height: 500px;
	background-size: 100%;
	padding: 50px 15px 529px 22px!important;
	background-size: 100%;
	right:0;
	}
	#branding h1 a {
		width:115px;
		padding-top:74px;
	}
	#branding #tagline {
		font-size: 35px;
		line-height: 21px;
		padding-top: 5px
	}
	.menu-item a {
		font-size: 18px;
		margin: 2px 0 10px;
	}
	#banner img {
		width:100%!Important;
	}
	#banner .text {
		width:250px;
		height: 148px;
	}
	#banner .text .title  {
		font-size: 21px;
		line-height: 21px;
		padding: 20px 25px 8px 25px;

	}
	#banner .text .description {
		font-size: 80%;
		padding: 0 20px 0 25px;
	}
	#head-foot {
position: absolute;
bottom: 173px;
font-family: "CicleFina";
font-size: 8px;
color: black;
padding-left: 9px;
}

}


/* Tablet Portrait size to standard 960 (devices and browsers) */
@media screen and (min-width:768px) and (max-width:1140px) {
	#content {
		/* width: 90%; */
	}
	#banner {
		
	}
	#banner .text {
	top:270px;	 
	background-size: 100%;
	}
	#banner .navslide {
		top:430px;
	}
	#branding {
	width: 130px;
	height: 500px;
	background-size: 100%;
	padding: 50px 10px;
	background-size: 100%;
	right:0;
	}
	#branding h1 a {
		width:115px;
		padding-top:74px;
	}
	#branding #tagline {
		font-size: 45px; 
		line-height: 21px;
		padding-top: 5px
	}
	.menu-item a {
		font-size: 17px;
		margin: 2px 0 10px;
	}
	#banner img {
		width:100%!Important;
	}
	#banner .text {
		width:250px;
		height: 148px;
	}
	#banner .text .title  {
		font-size: 21px;
		line-height: 21px;
		padding: 20px 25px 8px 25px;

	}
	#banner .text .description {
		font-size: 80%;
		padding: 0 20px 0 25px;
	}
	#head-foot {
		position: absolute;
		bottom: 173px;
		font-family: "CicleFina";
		font-size: 8px;
		color: black;
		padding-left: 9px;
}
.entry-content>p,
.entry-content>h1,
.entry-content>h2,
.entry-content>h3,
.entry-content>h4,
.entry-content>h5 {
	width:80%;
}
.story {
	width:80%;
}
.alignleft,.alignright {
	float:none!important;
}
.story .pic,.download-item .pic {
	float:none!important;
}
}


